body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('new.png'); /* Replace with your background image path */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
}
.container a{
color:  #7cd8d8;
}
.card h1 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}