
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('CON.PNG'); /* Background image path */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align children vertically */
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    color: #ebe1ea;
}

.container p {
    margin-top: 10px;
    font-size: 18px;
}

form {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-control-file {
    display: block;
    margin-top: 5px;
}

.btn-primary {
    background-color: #08568e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #007d7a;
}

footer {
    background-color: #222;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
